<header class="site-header">
  <div class="container nav-wrap">
    <a class="logo" href="../index.html">Kumaru Lanka</a>
    <nav>
      <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/tours.html">Tours</a></li>
        <li><a href="../pages/destinations.html">Destinations</a></li>
        <li><a href="../pages/vehicles.html">Vehicles</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
